<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.xiejingwen.m2">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".crop.CropImageActivity"/>
        <activity android:name=".ui.M2Activity"/>
        <activity android:name=".ui.M3Activity"/>
        <receiver android:name=".ui.MR">
            <intent-filter>
                <action android:name="action"/>
            </intent-filter>
        </receiver>

        <provider
            android:authorities="com.example.xiejingwen"
            android:name=".MyProvider"/>
    </application>

</manifest>